# ML frameworks (keep only the ones you actually need)
torch
tensorflow
keras-tuner>=1.4.4

# Dataset & external tools
kagglehub
yfinance
holidays

# Core ML stack
scikit-learn
xgboost
transformers==4.57.3
hmmlearn

# Utilities
tqdm
gymnasium
joblib
